<%= form_for [@project, @idea] do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>
      <ul>
      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="col-md-6 col-sm-6">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <label><%= @idea.project_id %></label>

    <label>Idea Name</label>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Idea Name' %>
    <br/>
    <label>Idea Description</label>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Describe this idea...' %>
    <br/>
  </div>
  <div class="col-md-6 col-sm-6">
    <label>Idea Image</label>
    <%= f.text_field :image, class: 'form-control', placeholder: 'http://www.example.com/image.jpg' %>
  </div>
</div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
<br/>
