<section id="footer">
	<div class="container">
		<!-- <p class="text-center">
			<%= link_to "#", class: 'btn btn-minimal' do %>
				Sign up
			<% end %>
			&nbsp;
			&nbsp;
			<%= link_to "#", class: 'btn btn-minimal' do %>
				Log in
			<% end %>
		</p> -->

		<p class="text-center">
			<br/>
			<%= link_to 'Sign up', new_user_registration_path %>
			&nbsp;
			&nbsp;
			&#183;
			&nbsp;
			&nbsp;
			<%= link_to 'Log in', new_user_session_path %>
			&nbsp;
			&nbsp;
			&#183;
			&nbsp;
			&nbsp;
			<%= link_to 'Home', root_url %>
			&nbsp;
			&nbsp;
			&#183;
			&nbsp;
			&nbsp;
			<%= link_to 'Pricing', pricing_path %>
			&nbsp;
			&nbsp;
			&#183;
			&nbsp;
			&nbsp;
			<%= link_to 'About', about_path %>
			&nbsp;
			&nbsp;
			&#183;
			&nbsp;
			&nbsp;
			<%= link_to 'Terms', terms_path %>
			

		</p>

		<p class="text-center" style="font-size:12px;color:#999;">Questions or feedback? &nbsp;<a href="mailto:chris@epicsteme.com">Email</a>&nbsp; or tweet &nbsp;<a href="http://twitter.com/chrismikelson">@chrismikelson</a>.</p>
		

		<p class="text-center">&copy; 2014 Epicsteme, Inc.</p>
	</div>
</section>