<p id="notice"><%= notice %></p>

<p>
  <strong>Durability:</strong>
  <%= @mash.durability %>
</p>

<p>
  <strong>Efficiency:</strong>
  <%= @mash.efficiency %>
</p>

<p>
  <strong>Assembly:</strong>
  <%= @mash.assembly %>
</p>

<p>
  <strong>Proportion:</strong>
  <%= @mash.proportion %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @mash.scale %>
</p>

<p>
  <strong>Semantics:</strong>
  <%= @mash.semantics %>
</p>

<p>
  <strong>Lifespan:</strong>
  <%= @mash.lifespan %>
</p>

<p>
  <strong>Recycle:</strong>
  <%= @mash.recycle %>
</p>

<p>
  <strong>Process:</strong>
  <%= @mash.process %>
</p>

<p>
  <strong>Learning curve:</strong>
  <%= @mash.learning_curve %>
</p>

<p>
  <strong>Barriers:</strong>
  <%= @mash.barriers %>
</p>

<p>
  <strong>Safety:</strong>
  <%= @mash.safety %>
</p>

<p>
  <strong>Pleasure:</strong>
  <%= @mash.pleasure %>
</p>

<%= link_to 'Edit', edit_mash_path(@mash) %> |
<%= link_to 'Back', mashes_path %>
