<br/>
<div id="projects">
  <div class="box">
      <%= link_to new_project_path do %>
      <%= image_tag 'create-project.png' %>
      <% end %>
      <h4 class="text-center">New Project</h4>
      
    </div>
  <% @projects.each do |project| %>
    <div class="box">
      <%= link_to project_path(project) do %>
      <%= image_tag project.image %>
      <div class="description-<%= project.id %>">
        <p><%= project.description %></p>
      </div>
      <% end %>
      <h4 class="text-center"><%= project.name %></h4>

      <div class="project-actions text-center">
      <%= link_to project_path(project) do %>
        <i class="fa fa-eye"></i>
      <% end %>
      <% if project.user == current_user %>
        <%= link_to edit_project_path(project) do %>
            <i class="fa fa-edit"></i>
          <% end %>
        <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash"></i>
          <% end %>
        <%= link_to " ", id: project.id.to_s.prepend('project-') do %>
          <i class="fa fa-info-circle"></i>
        <% end %>
        <script type="text/javascript">
          $('.description-<%= project.id.to_s %>').hide();
          $('#project-<%= project.id.to_s %>').click(function(){
            $('.description').toggle();

          });
        </script>
      <% end %>
    </div>
    </div>
  <% end %>
</div>
<br/>